.news_txt p{
	margin: 18px 48px;
}

.img_1_p{
	width: 300px;
	height: auto;
}

.content_sidebar{
	
}
.contact_side{
	margin: 0 auto;
	z-index: 1;
	padding: 20px
	
}

.con_h1{
	color: #e0d619;
	font-weight: 700;
	font-size: 35px;
	border-radius: 7px;
    text-align: center;
    background: #0d0d5a;
    margin-bottom: 15px;
}

.con_txt{
	margin: 0;
	padding: 10px;
	color: black;
	border-radius: 7px;
    border: thin solid #d3d3d3;
    background: #f9f9f9;
}