body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 18px;
	background: #fff;
}

a{
	text-decoration: none;
}

h1{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;
}

.wrapper{
	/*width: 1600px;*/
	margin: 0 auto; 
}

.wrap{
	width: 1000px;
	margin: 0 auto;
}

.content{
	width: 1300px;
	margin: 0 auto;
}

.obshchaga_left{
	float: left;
	width: 1000px;
}

.sidebar{
	float: left;
	width: 300px;
}

/********************HEADER******************************/


.navbar {
    background-color: #0d0d5a;
    padding: 10px 0;
    height: 80px;
}

.menu{
	margin: 0 auto;
	width: 1300px;
	height: 30px;
	display: flex;
}

.menu a{
	font-size: 20px;
	color: white;
	font-weight: 600;
	margin-right: 20px;
	padding-top: 25px;

	
}

.menu a:hover{
	text-decoration: underline; 
}

.golovna{
	padding-top: 25px;
}

.golovna a{
    margin: 0;
	
	font-size: 20px;
	color: #e0d619;
}


.IEK_logo{
	width: 85px;
}


/**************LOGO****************/

.logo_iek{
	
	padding-right: 40px;
	display: flex;
}

.logo_iek p{
	padding-top: 8px;
	color: #fff;
	padding-left: 20px;
	font-weight: 600;
}



/**********obshchaga*******************/

/*.obshchaga_left img{
	margin: 0 auto;
	width: 950px;
	height: 500px;
	
}*/
.news_txt{
	margin-top: 45px;
}

.news_txt h1{
	padding: 18px;
	text-align: center;
	color: #000;
	position: relative;
}

.news_txt h1::before{
	content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #ff8a00;
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background: -o-linear-gradient(left,#ff8a00,#da1b60);
    background: linear-gradient(to right,#ff8a00,#da1b60);
}


/****************SIDEBAR***************************/

.content_sidebar{
	-webkit-box-shadow: 0 0 8px 1px rgba(0,0,0,.54);
	box-shadow: 0 0 8px 1px rgba(0,0,0,.54);
    background-color: #1f2326;
    /*position: fixed;*/
    top: 0;
    width: 328px;
    height: 100vh;
    z-index: 0;
}

.online_txt{
	padding-top: 30px;
}

.num{
	font-size: 20px;
    font-weight: 700;
    color: #00bf08;

	padding-left: 164px
}

.online_txt small{
	font-size: 12px;
	color: #535a60;
	padding-left: 150px
}

.chat_txt h1{
	padding: 18px;
	text-align: center;
	color: #d1d1d1;
	position: relative;
}

.chat_txt h1::before{
	content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 3px;
    background-color: #ff8a00;
    background: -webkit-gradient(linear,left top,right top,from(#ff8a00),to(#da1b60));
    background: -o-linear-gradient(left,#ff8a00,#da1b60);
    background: linear-gradient(to right,#ff8a00,#da1b60);
}